/* body{
    padding:0;
    margin:0;
    display:flex;
    justify-content:center;
    min-height:100vh;
    background: #ecf0f3;
} */

.container
{
    text-align: center;
    margin-top:23px;
}

/* .display #screen
{
    width:97%;
    height:70px;
    font-size:35px;
    outline:none;
    border:none;
    text-align:right;
    padding-right: .5em;
    background:#ecf0f3;
    border-radius: 6px;
    box-shadow: inset 8px 8px  8px #cbced1,
                inset -8px -8px  8px #ffffff;
} */

/* .btns
{
    width:100%;
    margin-top: 1.7em;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btns .row button
{
    width:80px;
    height: 30px;
    font-size: 16px;
    border:none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #00000020,
                -5px -5px 8px #ffffff;
                transition: .1s;
} */

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 5px solid #244624;
    font-size: 34px;
    height: 65px;
    width: 456px;
}

button{
    border-radius: 20px;
    font-size: 40px;
    background: #978fa0;
    width: 102px;
    height: 90px;
    margin: 6px;
}

.calculator{
    border: 4px;
    background-color: #ff99f7;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
}

h1{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}
.btns .row button:hover
{
    box-shadow: inset 5px 5px 8px rgba(16,16,16,.1),
                inset -5px -5px 8px #fff;
                background: #fff;

}

#eval
{
    background: #33ccff;
    color: #fff;
    box-shadow: inset 5px 5px 8px #66d9ff,
                inset -5px -5px 8px #00ace6;
}

#eval:hover{
    box-shadow: inset 5px 5px 8px #00ace6,
                inset -5px -5px 8px #00ace6;
}

#ac
{
    background: #33cc33;
    color: #fff;

}

#ac:hover{
    box-shadow: inset 5px 5px 8px #2eb82e,
                inset -5px -5px 8px #33cc33;
}

#ce
{
    background: #ff3399;
    color: #fff;
}

#ce:hover{
    box-shadow: inset 5px 5px 8px #e60073,
                inset -5px -5px 8px #ff3399;
}